<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [54]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [602]:
#PYTHON | use the "with open() as" pattern, in read mode
with open(DATA_FILE, 'r') as read_file:
    #loop through each row adding to file_nested_list
    file_nested_list = [row for row in csv.reader(read_file, delimiter="\t")]

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [143]:
#PYTHON 
#save top row as the header, 1 to n in the data

header = file_nested_list[0]
data = file_nested_list[1:]

In [740]:
#PANDAS | Part 1 & Part 2
#read file using pandas csv reader using the tab separator and create a dataframe
import pandas as pd
import numpy as np

df = pd.read_csv("./data/chipotle.tsv", sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [679]:
#Is the quantity column is relevant to this calculation?
df.loc[[221,223]]
#NO - item price already accounts for quantity

     order_id  quantity item_name choice_description item_price
221        97         1     Chips                NaN     $2.15
223        98         2     Chips                NaN     $4.30

In [741]:
#PANDAS | remove dollar sign from price string
df['item_price'] = df['item_price'].str.replace('$', '')

In [742]:
#PANDAS | use to_numeric method to change price to float
df['item_price'] = pd.to_numeric(df['item_price'])

In [743]:
#PANDAS | sum all the prices and divide by the count of prices to get the average, round that result 
aov = round(df['item_price'].sum() / df.item_price.count(),2)
print(f"The average price of an order is ${aov} ")

The average price of an order is $7.46

In [614]:
#PYTHON
#create empty list to store all the item_price values
list_of_prices = []

#loop through each row in the data nested list
for row in data:
    #append the value of each row at index 4, and remove dollar sign
    list_of_prices.append(row[4].replace("$", ""))

#convert string values to floats
list_of_prices = [float(p) for p in list_of_prices]

print(f"The average price of an order is ${round(sum(list_of_prices) /len(list_of_prices),2)} ")

The average price of an order is $7.46

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [615]:
#PYTHON
#create empty list to store item_name values
list_of_items = []

#loop through each row in the data nested list
for row in data:
    #append the value of each row at index 2 if it contains the string 'Canned'
    if "Canned" in row[2]:           
        list_of_items.append(row[2])
#use set() to dedup 
unique_sodas_set = set(list_of_items)

unique_sodas_set

{'Canned Soda', 'Canned Soft Drink'}

In [616]:

#df['item_name'].unique().tolist()

['Chips and Fresh Tomato Salsa',
 'Izze',
 'Nantucket Nectar',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chicken Bowl',
 'Side of Chips',
 'Steak Burrito',
 'Steak Soft Tacos',
 'Chips and Guacamole',
 'Chicken Crispy Tacos',
 'Chicken Soft Tacos',
 'Chicken Burrito',
 'Canned Soda',
 'Barbacoa Burrito',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Bottled Water',
 'Chips and Tomatillo Green Chili Salsa',
 'Barbacoa Bowl',
 'Chips',
 'Chicken Salad Bowl',
 'Steak Bowl',
 'Barbacoa Soft Tacos',
 'Veggie Burrito',
 'Veggie Bowl',
 'Steak Crispy Tacos',
 'Chips and Tomatillo Red Chili Salsa',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Carnitas Soft Tacos',
 'Chicken Salad',
 'Canned Soft Drink',
 'Steak Salad Bowl',
 '6 Pack Soft Drink',
 'Chips and Tomatillo-Red Chili Salsa',
 'Bowl',
 'Burrito',
 'Crispy Tacos',
 'Carnitas Crispy Tacos',
 'Steak Salad',
 'Chips and Mild Fresh Tomato Salsa',
 'Veggie Soft Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Salad',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Carnitas Salad']

In [744]:
#PANDAS | filter the data frames for rows with 'Canned'
mask = df[df['item_name'].str.contains('Canned')]

#save unique item names to a list
pandas_unique_sodas_list = mask['item_name'].unique().tolist()

pandas_unique_sodas_list

['Canned Soda', 'Canned Soft Drink']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [632]:
#PYTHON
#Create variables track the number of toppings and number of burritos ordered (ignoring quantity column)
total_toppings = 0
burrito_count = 0 

#loop through each row in the data nested list
for row in data:
    #if row[2] matches 'Burrito', add the count of commas in row at index 3 then add 1 since the last value has no comma
    if "Burrito" in row[2]:
        total_toppings += row[3].count(',') + 1
        #add 1 to burrito counter 
        burrito_count += 1

average_toppings = round(total_toppings / burrito_count,1)
print(f"The average numner of toppings per Burrito is: {average_toppings}.")

The average numner of toppings per Burrito is: 5.4.

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [641]:
#PYTHON
from collections import defaultdict

#set default value for defaultdict
chip_orders_def_dict = defaultdict(lambda:0)

#loop through each row in the data nested list
for row in data:
    #if row[2] matches 'Chips', add current row quantity to current value of current key
    if 'Chips' in row[2]:
        #if key is missing, row[2] gets added as key by defaultdict
        chip_orders_def_dict[row[2]] = int(row[1]) + chip_orders_def_dict[row[2]]

chip_orders_def_dict

defaultdict(<function __main__.<lambda>()>,
            {'Chips and Fresh Tomato Salsa': 130,
             'Chips and Tomatillo-Green Chili Salsa': 33,
             'Side of Chips': 110,
             'Chips and Guacamole': 506,
             'Chips and Tomatillo Green Chili Salsa': 45,
             'Chips': 230,
             'Chips and Tomatillo Red Chili Salsa': 50,
             'Chips and Roasted Chili-Corn Salsa': 18,
             'Chips and Roasted Chili Corn Salsa': 23,
             'Chips and Tomatillo-Red Chili Salsa': 25,
             'Chips and Mild Fresh Tomato Salsa': 1})

In [758]:
#PANDAS | not a dictionary, but gets to the same data 
df[df.item_name.str.contains('Chips')].groupby('item_name').sum().sort_values('item_price', ascending=False)

                                       order_id  quantity  item_price
item_name
Chips and Guacamole                      449959       506     2201.04
Chips                                    208004       230      494.34
Chips and Fresh Tomato Salsa             100419       130      361.36
Side of Chips                             84769       110      185.90
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Chips and Mild Fresh Tomato Salsa           279         1        3.00

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [754]:
#What is the most popular entree? 
#What side or drink generates the most revenue?

In [748]:
#create a list of entree types
entrees =['Burrito', 'Salad', 'Bowl', 'Tacos']

#function to find items in entrees list within argument passed in, return True if match, False if no match
def list_matcher(x):
    for i in entrees:
        if i in x:
            return 'Entree'
    else:
        return 'Sides & Drinks'
#call list_matcher using apply on item_name column, add return value to new column in dataframe
df['item_type'] = df['item_name'].apply(list_matcher)

In [759]:
#What is the most popular entree? | ANSWER: Chicken Bowl
df[df.item_type.str.contains('Entree')].groupby('item_name').sum().sort_values('quantity', ascending=False).head(3)

                 order_id  quantity  item_price
item_name
Chicken Bowl       713926       761     7342.73
Chicken Burrito    497303       591     5575.82
Steak Burrito      328437       386     3851.43

In [760]:
#What side or drink generates the most revenue? | ANSWER: Chips and Guacamole
df[df.item_type.str.contains('Sides & Drinks')].groupby('item_name').sum().sort_values('item_price', ascending=False).head(3)

                     order_id  quantity  item_price
item_name
Chips and Guacamole    449959       506     2201.04
Chips                  208004       230      494.34
Canned Soft Drink      304753       351      438.75